<div class="wrap-collabsible">
  <input id="collapsible_av" class="toggle" type="checkbox">
  <label for="collapsible_av" class="lbl-toggle">Adult Volunteers</label>
  <div class="collapsible-content">
    <div class="content-inner">

<p>Adult community members are a rich source of expertise for many libraries. Library staff we interviewed spoke highly of their many adult volunteers who work with teens.</p>

<p>A librarian at a rural western library uses personal connections and relationships to recruit both adult and teen volunteers: <b><i>“I try my best to remember everybody's name… I build this relationship with every single person that I come in contact with and the next thing you know, they lead me to another person, they lead me to another thing and then we just have so many different partnerships right now. It's awesome. And because we have so much good families, good sentiment where everybody's pitching in, we can do so much more.”</i></b></p>

<p>One of the biggest benefits to come from this relationship building is the expertise of a retired electrical engineer who was working with the local high school’s computer club. <b><i>“Somebody mentioned to us that he'd be interested in helping you with the Lego robotics because he likes anything techy and he likes to work with older kids."</i></b> The librarian invited him to volunteer at the library as well, and he now runs weekly Lego robotics workshops when he’s not enjoying retirement by traveling. The librarian helps by managing the teens. <b><i>“He kind of shies away from managing the kids and trying to keep their focus, but he does have the technical know how. So, between both of us, we're able to keep the kids somewhat engaged.”</i></b></p>



    </div>
  </div>
</div>