<div class="wrap-collabsible">
  <input id="collapsible_CML" class="toggle" type="checkbox">
  <label for="collapsible_CML" class="lbl-toggle">Charlotte Mecklenburg Library and the Mecklenburg County Sheriff's Office</label>
  <div class="collapsible-content">
    <div class="content-inner">
 
<p>The Mecklenburg County Sheriff's Office had operated a successful library system in the two county jails for years, but administrators saw a need to increase programming for youthful offenders. The jail did not have the staff capacity to handle more specialized programming, so the jail library's director—a former public librarian—reached out to the Charlotte Mecklenburg Library. Administrators at the public library immediately saw the benefits of such a partnership to the jail (better programming for their youth), the library (the ability to reach an audience that was unable to visit the library), and the community (youth would be better prepared for life after release).</p>

<p>Library staff were able to use existing youth programming modified slightly for the youth at the jail. For instance, they offered single-session versions of some classes, for youth who were about to be released, and they made connections to other youth programs that were available at the jail. 
The most needed programming involved technology literacy, which library staff combined with creativity and social skills to create impactful programs—for example, they incorporated book reports into a podcasting class, and encouraged computer literacy and peer interactions through gaming tournaments. The items the youth created served as evidence of the program's impact.</p>
<p><i>For more information, see <i>High Impact Partnership: Serving Youth Offenders</i> by Angela Craig, in Young Adult Library Services, 2010(Fall), 20-22.</i></p>


  
    </div>
  </div>
</div>