<div class="wrap-collabsible">
  <input id="collapsible_CT" class="toggle" type="checkbox">
  <label for="collapsible_CT" class="lbl-toggle">Createch</label>
  <div class="collapsible-content">
    <div class="content-inner">

<p>Saint Paul Public Library System’s HOMAGO-based <a href="http://www.sppl.org/teens/createch">Createch labs</a> were the result of partnerships with several local organizations. The library shared a facility with Saint Paul Parks and Recreation, and both were involved in the design of the space. The Science Museum of Minnesota and the Saint Paul Neighborhood Network brought programming and mentorship to the labs. The <a href="https://www.smm.org ">Science Museum of Minnesota</a> found the dedicated, persistent teen spaces valuable, not only because they provided places to hold workshops, but also because the teens were already familiar and comfortable with the teen spaces.</p>
<ul>
  <li><a href="http://www.ala.org/yalsa/onlinelearning/webinar">Createch: Take It and Make It Big</a> [YALSA webinar.] (Marika Staloch, Peter Kirschmann, and YALSA). </li>
  <li><a href="https://www.spnn.org/video/createch-saint-paul">Createch - Saint Paul</a> (2014, Saint Paul Neighborhood Network). </li>
  <li> A Learning Lab Makes It In St. Paul (2014, Jennifer Larson). Young Adult Library Services, 2014(Winter), 22–24.</li></ul>


    </div>
  </div>
</div>