<div class="wrap-collabsible">
  <input id="collapsible_NW" class="toggle" type="checkbox">
  <label for="collapsible_NW" class="lbl-toggle">Charlotte Mecklenburg Library & the Northwest School For the Arts</label>
  <div class="collapsible-content">
    <div class="content-inner">

<p>The Charlotte Mecklenburg Library partnered with the Northwest School of the Arts’s library, incorporating tutoring, homework help, and video games in an afterschool program. The public library provided the board games and video game equipment, which the school library lacked. The partnership allowed the library to reach new audiences, and provided a beneficial service to the school’s students.</p>
<ul>
<li>Pelman, A. (2009). It takes two: School and public libraries, partnerships that can work! Young Adult Library Services, 2009(Fall), 26.</li>
<li>Romanek, L. (2014, May). <a href="http://www.lizromanek.com/game-on.html">Game on!</a></li>
</ul>



    </div>
  </div>
</div>