<div class="wrap-collabsible">
  <input id="collapsible_laos" class="toggle" type="checkbox">
  <label for="collapsible_laos" class="lbl-toggle">Learning About History With the Laotian Community Center</label>
  <div class="collapsible-content">
    <div class="content-inner">

<p>The executive director of the Laotian Community Center wanted to capture the stories of the seniors in the Laotian community in Providence, Rhode Island, many of whom came to the United States as refugees. Brainstorming with Providence Public Library led to a project to teach teens how to create oral histories. Librarians at PPL were able to adapt an existing workshop to be suitable for the context and participants and conducted a day-long program at the community center with the help of a third partner: a graduate student from nearby Brown University. The program taught the teens history, interview techniques, and media skills, and led to additional collaborations between some of the partners.</p>

    </div>
  </div>
</div>