<div class="wrap-collabsible">
  <input id="collapsible_CPLV" class="toggle" type="checkbox">
  <label for="collapsible_CPLV" class="lbl-toggle">YOUmedia and the National Veterans Art Museum</label>
  <div class="collapsible-content">
    <div class="content-inner">

<p>Chicago Public Library’s YOUmedia program and the <a href="http://www.nvam.org/">National Veterans Art Museum</a> made their first connection through Hive Chicago. The museum hosted weekly art programs in the library’s teen space, which was more centrally located and had an established teen community. Museum staff modified their workshop programming to suit YOUmedia’s “drop-in” style.</p>

  <p class="videotime">4:07</p><p class="source">inPOINTS</p>
  <div class="video">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/CkqyRzRehbM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
<ul>
  <li>A Partnership Tale: YOUMedia and the National Veterans Art Museum (Christine Bespalec-Davis, 2014). Young Adult Library Services, 2014(Fall), 18–19.</li>
  <li><a href="https://www.chipublib.org/news/youmedia-to-visit-the-national-veterans-art-museum/">YOUmedia to Visit the National Veterans Art Museum</a> (2014, Chicago Public Library). </li>
</ul>



    </div>
  </div>
</div>