<div class="wrap-collabsible">
  <input id="collapsible_NA" class="toggle" type="checkbox">
  <label for="collapsible_NA" class="lbl-toggle">Bringing New Audiences to the Library</label>
  <div class="collapsible-content">
    <div class="content-inner">
      <p>
        Partnerships can be a way to introduce new youth to the library when your partner brings their existing audiences to you.</p> <ul><li>A suburban library in the midwest held STEAM programming for the local Boy Scout troop, bringing all the scouts in the library, along with some parents and siblings. </li>
<li>Another library’s partnership with a high school e-sports club often brought new teens into the library.</li>
<li>Many libraries partner with Parks and Recreation departments--sometimes even sharing facilities--to bring in the Parks and Rec visitors to the library.</li></ul>

  
    </div>
  </div>
</div>