<div class="wrap-collabsible">
  <input id="collapsible_LB" class="toggle" type="checkbox">
  <label for="collapsible_LB" class="lbl-toggle">Partnering With Local Businesses</label>
  <div class="collapsible-content">
    <div class="content-inner">

<p>Simple partnerships can lead to more extensive collaborations as the relationship develops. In a midwestern town surrounded by rural farmland, one librarian developed a great relationship with a local game store. The owner donated merchandise to be used as trivia prizes and themed snacks for movie nights (<b><i>“For our Naruto movie, everybody went home with either wasabi candy or ginger candy.”</i></b>) He shared his expertise by running video game tournaments at the library and judging a game-making contest. In return, the store earned exposure and goodwill with the teens, and the library bought gift cards from the store as additional prizes.</p>

    </div>
  </div>
</div>