<div class="wrap-collabsible">
  <input id="collapsible_DPL" class="toggle" type="checkbox">
  <label for="collapsible_DPL" class="lbl-toggle">Denver Public Library's Community Mapping Project</label>
  <div class="collapsible-content">
    <div class="content-inner">
  <img src="{{site.url}}{{site.baseurl}}/assets/img/shared/DPL_Map.png" style="width:30%;float:right;margin:10px;"/>
<p>In 2013, Denver Public Library launched a year-long project to improve their teen services with the help of a community asset mapping project. They identified many teen-related organizations in Denver and interviewed 40 of them, asking them about their work, the teens they serve, potential partnerships with the library, and any gaps they saw in services for teens in the community. They also interviewed library staff and held focus groups with teens. </p>

<p>The interviews with the other youth-serving organizations revealed not just information about the organizations’ services, but also information about key issues facing Denver teens. The <a href="http://www.ala.org/pla/sites/ala.org.pla/files/content/about/fellows/TAMFinalReport.pdf">resulting report</a> and its recommendations served as a guide as the library began forming partnerships and developing new programs for teens.</p>

<ul>
	<li><a href="http://www.ala.org/pla/sites/ala.org.pla/files/content/about/fellows/TAMFinalReport.pdf">Teen Asset Mapping Report: A Report and Recommendations From the Denver Public Library</a> (Denver Public Library, 2014)</li>
	<li><a href="http://www.slj.com/2016/03/teens-ya/denver-teen-programs-revived-thanks-to-asset-mapping/">Denver Teen Programs Revived, Thanks to Asset Mapping</a> (Linda Jacobson, 2016). School Library Journal.</li>
</ul>


  
    </div>
  </div>
</div>