<!-- Sidebar Nav for the Design Thinking Module -->
<aside>
<div class="image">   
    <a href="{{site.url}}{{site.baseurl}}"><img src="{{site.url}}{{site.baseurl}}/assets/img/connectedlib_logo_noslogan.png" width="200px"></a>
</div>  

<p style="text-align:center;font-size:110%;font-weight:bold;">Design Thinking</h2>
        
<div id="{{ page.subsection }}">

    <ul class="agenda-navigation">
<li class="overview sectionhead"><a href="index.html">Module Overview</a></li>

<li class="one sectionhead"><a href="section-1-0.html">1. What Is Community Mapping?</a></li>       
    <li class="one-one"><a href="section-1-1.html">1.1 What Is A Community Asset Map?</a></li>
    <li class="one-two"><a href="section-1-2.html">1.2 How Does Community Mapping Enhance Connected Learning?</a></li>
    <li class="one-two"><a href="section-1-2.html">1.3 Community Mapping Activity: Existing Data</a></li>
            
<li class="two sectionhead"><a href="section-2-0.html">2. Community Assets</a></li>
    <li class="two-one"><a href="section-2-1.html">2.1 Asset-Based Community Development</a></li>
    <li class="two-two"><a href="section-2-2.html">2.2 What Are Assets</a></li>
    <li class="two-three"><a href="section-2-3.html">Community Mapping Activity: Potential Assets</a></li>

<li class="three sectionhead"><a href="section-3-0.html">3. The Community Mapping Process</a></li>
    <li class="three-one"><a href="section-3-1.html">3.1 Plan Your Trip</a></li>
    <li class="three-two"><a href="section-3-2.html">3.2 Learn About Your Neightborhood</a></li>
    <li class="three-three"><a href="section-3-3.html">3.3 Learn About Your Community Assets</a></li>
    <li class="three-four"><a href="section-3-4.html">3.4 Community Mapping Activity: Record What You Learn</a></li>

<li class="four sectionhead"><a href="section-4-0.html">4. Now What?</a></li>

</ul> 
        </div>
      </aside>
