<div id="footerwrap">
     <div class="container">
        <div class="row"> 
            <div class="col-md-12 himg">

<center>
		<a href="https://ischool.umd.edu" target="_blank"><img src="{{site.url}}{{site.baseurl}}/assets/img/umdIschoolLogo.jpg" height="75px" /></a>
		<a href="https://www.imls.gov" target="_blank"><img src="{{site.url}}{{site.baseurl}}/assets/img/imls_logo.gif" height="100px" style="position:relative;top:15px;margin-left:20px;margin-right:20px;"/>
		<a href="htts://ischool.uw.edu"><img src="{{site.url}}{{site.baseurl}}/assets/img/UWIschoolLogo.png" height="50px" style="position:relative;top:-10px;"/></a></center>




               
             </div>
        </div><!-- /row -->
      </div> <!-- /container -->
</div><! --/footerwrap -->
