### How to Use This Module

Navigate this module using the menu on the left side of the page. 

<ul class="fancy">
	<li>Each section has learning outcomes which are displayed in blue like this.</li>
</ul>

<blockquote>Quotes from researchers and practitioners look like this.</blockquote>

<div class="case_study_box">Case studies and examples look like this.</div>

<div class="explanatory">Explanatory videos or additional materials look like this.</div> 

<div class="tips">Tips and pointers from librarians and elsewhere look like this.</div>

<div class="reflection">Reflections and exercises to help you apply the module’s concepts to your individual context look like this.</div> 
