<!-- Sidebar Nav for the Programming Module -->

    <ul class="agenda-navigation">
<li class="overview sectionhead"><a href="index.html">Module Overview</a></li>

<li class="one sectionhead"><a href="section-1.html">1. The 21st Century Library</a></li>       
    <li class="one-one"><a href="section-1-1.html">1.1 The Value of Connected Learning Programs</a></li>
    <li class="one-two"><a href="section-1-2.html">1.2 Program Design Activity</a></li>
            
<li class="two sectionhead"><a href="section-2.html">2. Program Design</a></li>
    <li class="two-one"><a href="section-2-1.html">2.1 Backwards Design</a></li>
    <li class="two-two"><a href="section-2-2.html">2.2 Theory of Change</a></li>

<li class="three sectionhead"><a href="section-3.html">3. Elements of a Connected Learning Program</a></li>
    <li class="three-one"><a href="section-3-1.html">3.1 Outcomes</a></li>
    <li class="three-two"><a href="section-3-2.html">3.2 Participants</a></li>
    <li class="three-three"><a href="section-3-3.html">3.3 Formats</a></li>
    <li class="three-four"><a href="section-3-4.html">3.4 Activities</a></li>
    <li class="three-five"><a href="section-3-5.html">3.5 Facilitators</a></li>
    <li class="three-six"><a href="section-3-6.html">3.6 Themes</a></li>

<li class="four sectionhead"><a href="section-4.html">4. Putting it All Together</a></li>
    <li class="four-one"><a href="section-4-1.html">4.1 Complete Your Plan</a></li>

<li class="five sectionhead"><a href="section-5.html">Additional Resources</a></li>
</ul> 