---
layout: default
---

<div class="wrapper" mode="overview">

	<!-- left navigation -->

	<aside>

		<div class="image" style="background-color:#ffffff;margin:15px;">
    		<img src="../../assets/img/{{page.module_name}}ModuleIcon.png"/>
			<p class="sidebarTitle">{{page.module_full_name}}</p>
 		</div>   
<div id="{{ page.subsection }}" class="sidebar">

	{% include {{page.module_name}}_nav.html %}

</div>
<center>
<img src="../../assets/img/purplesquare.png" style="margin-bottom:25px;"/>
</center>
	</aside>
	<article class="wrap">

		{% include top_nav.html %}

		<article class="main">

			<h1>{{ page.title }}</h1>

			{{ content }}

		</article>

<center>
<img src="../../assets/img/swoosh.png" style="margin-bottom:25px;"/>
</center>
	</article>

</div>